{:paths ["src"]
 :deps {com.cnuernber/ham-fisted {:mvn/version "1.000-beta-97"}
        kixi/stats {:mvn/version "0.5.5"}
        generateme/fastmath
        {:mvn/version "2.1.8"
         ;;You will need to reenable these to use the all of fastmath
         :exclusions [com.github.haifengl/smile-mkl
                      org.bytedeco/arpack-ng
                      org.bytedeco/arpack-ng-platform
                      org.bytedeco/openblas
                      org.bytedeco/openblas-platform
                      org.bytedeco/javacpp]}}
 :aliases
 {:dev
  {:extra-deps {criterium/criterium {:mvn/version "0.4.5"}
                com.cnuernber/charred {:mvn/version "1.026"}
                cnuernber/dtype-next {:mvn/version "10.000-beta-45"}
                applied-science/darkstar
                {:git/url "https://github.com/appliedsciencestudio/darkstar/"
                 :sha "abd480cc382b7ae143f7902ee9d300cdc1a705cc"
                 :exclusions [org.graalvm.js/js org.graalvm.js/js-scriptengine]}
                org.graalvm.js/js {:mvn/version "20.3.2"}
                org.graalvm.js/js-scriptengine {:mvn/version "20.3.2"}
                com.cnuernber/mkl {:mvn/version "1.000-beta-2"}
                com.cnuernber/applemath {:git/url "https://github.com/cnuernber/applemath"
                                         :sha "05d26f7caa21e2672484d9c693b406b0de7bb1f7"}}}
  :test
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}
                ch.qos.logback/logback-classic {:mvn/version "1.1.3"}}
   :extra-paths ["test"]
   :main-opts ["-m" "cognitect.test-runner"]}
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}}
   :ns-default build}
  :codox
  {:extra-deps {codox-theme-rdash/codox-theme-rdash {:mvn/version "0.1.2"}
                nrepl/nrepl {:mvn/version "0.8.3"}
                cider/cider-nrepl {:mvn/version "0.25.5"}
                com.cnuernber/codox {:mvn/version "1.001"}}
   :exec-fn codox.main/-main
   :exec-args {:group-id "com.cnuernber"
               :artifact-id "streams"
               ;;Change this also in build.clj
               :version "1.000-alpha-1"
               :name "Streams"
               :description "Stream-based arithmetic and manipulation functions for
Monte Carlo simulation."
               :metadata {:doc/format :markdown}
               :html {:transforms [[:head] [:append [:script {:async true
                                                              :src "https://www.googletagmanager.com/gtag/js?id=G-XJYNJF48RM"}]]
                                   [:head] [:append [:script "window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XJYNJF48RM');"]]]}
               :themes [:rdash]
               :source-paths ["src"]
               :output-path "docs"
               :doc-paths ["topics"]
               :source-uri "https://github.com/cnuernber/streams/blob/master/{filepath}#L{line}"
               :namespaces [streams.api
                            streams.graphs]}}}}
